{% extends "base.html" %}
{% block title %} - Contact Us{% endblock %}

{% block navtabs %}
<li><a href="/">Home</a></li>
<li><a href="menu">Menu</a></li>
<li><a href="locations">Locations</a></li>
<li class="active"><a href="contact">Contact Us</a></li>
{% endblock navtabs %}

{% block content %}
<h2 class="text-success">Contact Us</h2>
<p>We operate two restaurants, both in Ft. Worth.</p>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-primary"><a href="https://plus.google.com/109023395023670587561/about?gl=us&hl=en">Crowley Rd</a></h3>
      </div>
      <div class="panel-body">
      <p>5609 Crowley Rd Fort Worth, TX 76134</p>
      <p>(817) 293-4499</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-primary"><a href="https://plus.google.com/+BurgerBoxFortWorth/about" title="">Southwest Blvd</a></h3>
      </div>
      <div class="panel-body">
      <p>4466 Southwest Blvd Fort Worth, TX 76116</p>
      <p>(817) 377-1100</p>
      </div>
    </div>
  </div>
</div>
<p><a href="mailto:parvinkarshenas@gmail.com?subject=Burger Box Feedback" "email us">Click here</a> to send us email. We read and reply to all of them.</p>
{% endblock content %}
