{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
<div class="jumbotron">
      <h1>Burger Box</h1>
      <p>Old fashioned 50's and 60's Style Burgers</p>

      <p style='margin-top: 20px'>
          <a href="menu" class="btn btn-primary btn-lg btn-success">Menu</a>
          <a href="locations" class="btn btn-primary btn-lg btn-warning">Locations</a>
          <a href="contact" class="btn btn-primary btn-lg btn-success">Contact</a>
      </p>
</div>
{% endblock %}
