{% extends "base.html" %}
{% block title %} - Locations{% endblock %}

{% block navtabs %}
<li><a href="/">Home</a></li>
<li><a href="menu">Menu</a></li>
<li class="active"><a href="locations">Locations</a></li>
<li><a href="contact">Contact Us</a></li>
{% endblock navtabs %}

{% block content %}
<h5>We have two locations in <span class="text-success">Ft. Worth</span> and one in <span class="text-warning">Arlington.</span></h5>
<h6>Find info and directions by selecting the <span class="text-primary">blue markers</span> on the map.</h6>


<div class="panel panel-success">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <iframe width="360" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/ms?msa=0&amp;msid=205358663375466482679.0004e46feb4d7cedda0d9&amp;ie=UTF8&amp;t=m&amp;ll=32.749168,-97.332001&amp;spn=0.40425,0.583649&amp;z=10&amp;output=embed"></iframe><br />
  </div>
  <div class="panel-footer">
    <a href="https://www.google.com/maps/ms?msa=0&amp;msid=205358663375466482679.0004e46feb4d7cedda0d9&amp;ie=UTF8&amp;t=m&amp;ll=32.749168,-97.332001&amp;spn=0.40425,0.583649&amp;z=10&amp;source=embed" class="btn btn-primary btn-lg btn-warning">Larger Map</a>
  </div>
</div>

{% endblock content %}
