{% extends "base.html" %}
{% block title %} - Menu{% endblock %}

{% block navtabs %}
<li><a href="/">Home</a></li>
<li class="active"><a href="menu">Menu</a></li>
<li><a href="locations">Locations</a></li>
<li><a href="contact">Contact Us</a></li>
{% endblock navtabs %}

{% block content %}
<h2 class="text-success">Menu</h2>
<div class="row container">
  <div class="col-md-3">
    <h3 style="color: #FF9900">Burgers and Sandwiches</h3>
    <ul class="list-unstyled">
      <li>Box Burger</li>
      <li>Cheeseburger</li>
      <li>Double Double</li>
      <li>Mushroom Swiss Burger</li>
      <li>Crispy Chicken Sandwich</li>
      <li>Grilled Chicken Sandwich</li>
      <li>Philly Cheesesteak</li>
    </ul>
    <small>Add bacon, jalapenos, or mushrooms for a bit extra!</small>
  </div>
  <div class="col-md-3">
    <h3 style="color: #FF9900">Plates</h3>
    <ul class="list-unstyled">
      <li>Chicken Tenders</li>
      <li>Steak Fingers</li>
      <li>Chicken Fried Steak Dinner</li>
      <li>Crispy Chicken Salad</li>
      <li>Grilled Chicken Salad</li>
    </ul>
  </div>
  <div class="col-md-3">
    <h3 style="color: #FF9900">Sides</h3>
    <ul class="list-unstyled">
      <li>French Fries</li>
      <li>Onion Rings</li>
      <li>Tator Tots</li>
      <li>Jalapeno Poppers</li>
    </ul>
  </div>
  <div class="col-md-3">
    <h3 style="color: #FF9900">Desserts</h3>
    <ul class="list-unstyled">
      <li>Blue Bell Ice Cream</li>
      <li>Hand Made Milk Shake</li>
      <li>Ice Cream Sundae</li>
      <li>Apple Pie</li>
      <li>Lemon Pie</li>
    </ul>
  </div>

{% endblock content %}
